body{
    background-color: lightsteelblue;
}

#link{
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: inherit;
}


#heading{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
    color:palevioletred;
}

#about-image{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p{
    color: green;    
    font-size: 15px;
}