body{
    background-color: lightsteelblue;
}

#link{
    text-align: center;
}


#heading{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
    color:palevioletred;
}